<header class="Header">
    <!--<div class="Header-Icon">
        <p class="Header-Icon-Text">TRANSPORTES REFRIGERADOS RIVAS</p>
    </div-->

    <main class="Header-Main">
        <ul class="Header-Main-List">
            <li class="Header-Main-List-Item">
                <a href="" class="Header-Main-List-Item-Link">SOLUCIONES</a>
            </li>
            <li class="Header-Main-List-Item">
                <a href="" class="Header-Main-List-Item-Link">EMPRESA</a>
            </li>
            <li class="Header-Main-List-Item">
                <a href="" class="Header-Main-List-Item-Link">BOLSA DE EMPLEO</a>
            </li>

            <li class="Header-Main-List-Item">
                <a href="" class="Header-Main-List-Item-Link">AVISO DE PRIVACIDAD</a>
            </li>
        </ul>
    </main>

    <main class="Header-Language">
        <ul class="Header-Language-List">

            <li class="Header-Language-List-Item">
                <a href="" class="Header-Language-List-Item-Link">ESP</a>
            </li>
            <li class="Header-Language-List-Item">
                <a href="" class="Header-Language-List-Item-Link">ENG</a>
            </li>
        </ul>
    </main>
</header>